body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide overflow to prevent scrollbar */
}

.background {
    background: rgb(140, 82, 255);
    background: linear-gradient(90deg, rgba(140, 82, 255, 1) 35%, rgba(255, 145, 77, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.logo-container {
    background: transparent;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    width: 120px;
    max-width: 100%;
    height: auto;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-grow: 1; /* Allow the video container to grow to fill the available space */
}

video {
    max-width: 80%;
    max-height: 80%;
}
